html{
  margin:0;
  padding:0;
  height: 100%;
  overflow: auto;
  padding-bottom: 5px;
}

body {
  min-height: 100% !important;
  height: 100%;
}

.container-fluid {
	padding: 2px;
	height: 100%;
}

#buttons_row {
	padding: 5px;
	background-color: #dddddd;
}

#bottom_row {
	height: 80%;
	padding-bottom: 5px;
}

#canvas {
	margin: 5px;
	margin-right: 25px;
	margin-left: 15px;
	padding-right: 5px;
	padding-left: 5px;
	height: 103%;
	border-style: outset;
}

#description {
	margin: 5px;
	padding-right: 5px;
	padding-left: 5px;
	height: 103%;
	border-style: outset;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

h1{
    font-family: sans-serif;
    text-align: center;
}
